body,html{
    background-image: linear-gradient(#f9a8d4, #60a5fa);
    justify-content: center;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
#lock{
    height: 250px;
    width: 250px;
}
header{
    padding-top: 0px;
    padding-bottom: 70px;
    font-weight: bold;
    font-size: 35px;
    animation: shake 2s infinite;
    color: white;
    text-shadow: 2px 2px rgb(83, 82, 82);
}
 @keyframes shake{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
 }
 main{
    color: white;
    font-size: 20px;
 }
 #box {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    padding: 20px;
    text-align: center;
    width: 90%;
    max-width: 400px;
    justify-content: center;
    margin-left: 550px;
}
 #guessInput{
    border-radius: 10px;
    height: 40px;
    width: 250px;
    border-color: #60a5fa;
    margin-left: 20px;
    box-shadow: 2px 2px #60a5fa;
    text-align: center;
    justify-content: center;
 }
 #btn{
    background-color: #c867b9;
    height: 40px;
    width: 100px;
    border-radius: 10px;
    color: white;
    border-color: #c867b9;
    margin-left: 0px;
 }